@import url('./assets/fonts/matteo/stylesheet.css');

* {
  --odysen-space: #08091E;
  --odysen-flashbang: #fff;
  --odysen-subtext: #767676;
  --odysen-mint: #1ED78D;
}

:root {
  font-family: Matteo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--odysen-flashbang);
  background-color: var(--odysen-space);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--odysen-mint);
  text-decoration: inherit;
}
a:hover {
  color: var(--odysen-mint);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--odysen-mint);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  position: fixed;
  inset: 0;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: grid;
  place-items: center;
  place-content: center;
}

.bg-image {
  background: url('./assets/logo.png');
}
/* honestly? overriding colors like this is an awful practice, but man, looks like we dont have a choice - building presets is stupidly complicated */
.p-button-secondary {
  background-color: rgba(30, 215, 141, 0.1) !important;
  border: 1px solid rgba(30, 215, 141, 0.1) !important;
  color: #1ED78D !important;
}
.p-button-secondary:hover {
  background-color: rgba(30, 215, 141, 0.2) !important;
  border: 1px solid rgba(30, 215, 141, 0.2) !important;
}
.p-button-secondary:active {
  background-color: rgba(30, 215, 141, 0.3) !important;
  border: 1px solid rgba(30, 215, 141, 0.3) !important;
}
