@import url('./assets/fonts/matteo/stylesheet.css');

* {
  --odysen-space: #08091E;
  --odysen-flashbang: #fff;
  --odysen-subtext: #767676;
  --odysen-mint: #1ED78D;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Matteo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--odysen-flashbang);
  background-color: var(--odysen-space);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--odysen-mint);
  text-decoration: inherit;
}
a:hover {
  color: var(--odysen-mint);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  inset: 0;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: grid;
  place-items: center;
  place-content: center;
}

.bg-image {
  background: url('./assets/logo.png');
}

/* FLOATIE BAR */
.floatie {
  position: fixed;
  right: 50;
  top: 1rem;
  width: 80%;
  z-index: 1;

  .p-menubar-submenu {
    margin-top: 1rem;
  }

  .p-menubar-mobile-active .p-menubar-root-list {
    margin-top: 0.5rem;
    border-radius: inherit;
  }
}

.homepageSection {
  margin-top: 30vh;
  margin-bottom: 50vh;
}

/* TODO: we should probably try defining the 10, 20, 30 variants as variables because color mixing that much can be a perf hit and messy code :shrug:, we can even hardcode it maybe? */
